@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');

.font{
    font-family: 'Comfortaa';
    font-size: 30px;
}
.footer{
    width: 100%;
    min-height: 200px ;
    max-height: auto;
    background-color: rgba(18, 17, 17, 0.927);
    color: white;
}
.foothead{
    padding: 25px;
}
.contact{
    
}
.justifycontent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.poweredby{
    display: flex;
    justify-content: flex-end;
    padding-right: 45px;
    padding-top: 25px;
}
.designedby{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 45px 20px 45px;
}